:root{
  --base-color: white;
  --text-color: #111528;
  --secondary-text: #d05e7f;
  --primary-color: #d05e7f;
}

.darkmode{
  --base-color: #070b1d;
  --text-color: #ffffff;
  --secondary-text: #d05e7f;
  --primary-color: #d05e7f;
}

* {
	box-sizing: border-box;
}

body {
  font-family: 'NotoSansJP', sans-serif;
  color: var(--text-color);
 
  margin: 0;
  padding: 0;
  background-color: var(--base-color);
 
  display: flex;
  flex-direction: column;
}

header.navbar-container {
  display: flex;
	align-items: center;
  background-color: var(--base-color);
  
  width: 100%;
	padding: 10px;
  border-bottom: solid;
  border-width: 3px;
  border-color: var(--secondary-text);
  
	padding-left: 5%;
}

#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 20px;
}

#theme-switch svg{
  fill: var(--primary-color);
}

#theme-switch svg:last-child{
  display: none;
}

.darkmode #theme-switch svg:first-child{
  display: none;
}

.darkmode #theme-switch svg:last-child{
  display: block;
}

header.navbar-container .logo img {
	width: 150px;
}

header.navbar-container .nav-list ul {
	display: flex;
  flex: 1;
  align-items: center;
	justify-content: center;
	gap: 2rem;
}

header.navbar-container .nav-list li {
	list-style-type: none;
}

header.navbar-container .nav-list li a {
	padding: 1rem 2rem;
	border-radius: 15px;

	text-decoration: none;
	font-size: 1rem;
	font-weight: 500;
	color: var(--text-color);

	transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
	background-color: var(--primary-color);
	color: var(--base-color)
}

main {
  flex: 1;
 
  width: 100%;
  max-width: 1400px;
  margin-inline: auto;
  padding: 40px;
 
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

main .content {
  flex: 1;
 
  display: flex;
  align-items: center;
}

main .content .content-description {
  flex: 1;
}

main .content .name {
  font-size: 4rem;
  font-weight: 1000;
  color: var(--secondary-text);
  margin-top: 20px;
  margin-bottom: 20px ;
}

main .content .description {
  font-size: 1.35rem;
  line-height: 2rem;
  color: var(--text-color);
}

main .content-image img {
  border-radius: 15px;
}

main .content-image {
  flex: 1;
 
  display: flex;
}

main .content .content-image img {
  height: 350px;
  min-height: 250px;
  margin: auto;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
}

.logos-slide {
  display: inline-block;
  animation: 2s slide infinite linear;
}

.logos-slide img {
  height: 150px;
  margin: 0 40px;
}

main .about-me {
  display: flex;
  flex: 1;
  border: solid;
  border-width: 4px;
  border-color: var(--primary-color);
  width: 400px;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

main .about-me h2{
  color: var(--primary-color);
}

main .about-me img {
  width: 320px;
  border-radius: 15px;
  margin-bottom: 15px;
}

main .about-me p {
  text-align: flex-start;
  font-size: 16px;
  line-height: 1.5;
  max-width: 500px;
}

main .social-media ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0;
  margin-top: 10px;
}

main .social-media li {
  list-style: none;
}

main .social-media li a {
  font-size: 24px;
  color: var(--primary-color);
  transition: 0.3s;
}

main .social-media li a:hover {
  color: var(--text-color);
}

footer {
  display: flex;
  flex: 1;

  padding: 10px;
  color: var(--base-color);
  background-color: var(--primary-color);
  font-weight: bold;
}

footer p {
  margin-inline: auto;
}

@media screen and (max-width: 1024px) {
  .name {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  header.navbar-container {
    flex-direction: column;
  }

  .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }

  main {
    flex-direction: column;
    text-align: center;
  }

  .name {
    font-size: 3rem;
  }

  .content-image img {
    height: 300px;
  }
}